{% extends 'collection_app/base.html' %}
{% load staticfiles %}
 
{% load widget_tweaks %}
{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyCollections</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
     <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script >
        $("#s").click(function () {
            $("#mensagem_geral").hide();            
            $("#mensagem_nome").hide();            
            $("#mensagem_senha").hide();            
        });

        //jQuery is required to run this code
$( document ).ready(function() {

    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

});

function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}



    </script>
 
  </head>
  <body>

   


    <div class="homepage-hero-module">
      <div class="video-container">
        <div class="filter"></div>
          <video autoplay loop class="fillWidth">
            <source src="{% static 'videos/Sunset-Lapse/MP4/Sunset-Lapse.mp4' %}" type="video/mp4" />
            <source src="{% static 'videos/Sunset-Lapse/WEBM/Sunset-Lapse.webm' %} " type="video/webm" />
          </video>
         <div class="poster hidden">
            <img src="{% static 'videos/Sunset-Lapse/Snapshots/Sunset-Lapse.jpg' %}" alt="">
        </div>
      </div>
    </div>

    

  <div id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-3 form">   
      <h1 id="logo" >Mycollections</h1>       
        <div class="col-md-8 col-md-offset-5">        
          <h2 class="text-center " style="font-style: verdana; color: rgba(44, 62, 80,1.0)">Login</h2>
            <form method="POST"  > {% csrf_token %}         
              <h4 class="label">Nome</h4>
              <h5 >{{ form.nome|add_class:"form-control " }} </h5>    
              <h5 id="mensagem_nome" style="color: red">{{mensagem_nome}}</h5>
              <h4 class="label"> Senha </h4>        
              <h5 >{{ form.senha|add_class:"form-control " }}</h5>
              <h5 id="mensagem_senha" style="color: red">{{mensagem_senha}}</h5>    
              <h5 id="mensagem_geral" style="color: red">{{mensagem_geral}}</h5>           
              <button  type="submit" class="save btn btn-sm btn-success " id="entrar">Entrar</button>
            </form>  
        </div> 
      </div>
    </div>
   </div>

      <div  class="col-md-2 col-md-offset-10" style="color: white">
        <div id="crie_conta">
          <h3>Não tem cadastro?</h3> 
          <h4>Cadastre-se <a href="cadastra_usuario"> AQUI</a></h4> 
       </div>
      </div>
    </div>
    
      




  </body>
</html>
{% endblock %}
