

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

/*-----------------------------------------*/

#login{
  margin-top: -750px;
}
#logo{
 font-size: 100px;
 margin-right: 100px;  
 color: rgba(52, 73, 94,1.0);
 
}

#crie_conta{
  margin-top: 60px;
}
#entrar{
  width: 130px;
  margin-left: 40px;
}
.fundo_form{
  position: absolute;  
  background-color: rgba(236, 240, 241,1.0);
  padding: 150px;
  margin-top:170px;
  border-radius: 15px;
  -webkit-opacity:0.8;
  opacity: 0.8;
 -moz-opacity:0.8;
}
.label{
  font-size: 14px;
  color: blue;
 
}
.form{
  position: relative;
  padding-bottom: 30px;
  margin-top: 180px;
  border-radius: 15px; 
}

h2{
  color: white;
  font-style: verdana;
  font-weight: bolder;
}
#collections{
  font-size: 150px;
  color:#95a5a6;
  margin-top: 0px;
  margin-left: 160px;
}
