
body{
  background-color: #7FC1DC;
}
.tamanho {

  width: 10px;
}
#grade{
  background-color: #9b59b6;

}
#ftopo{
  background-color: #339BE6;
  width: auto;
  height: 70px;
}
a{
  font-size: 15px;
  margin-left: 10px;
  font-weight: bold;
}
a:link{
  color: white;
}
a:visited{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #3498db;
  text-decoration: none;
}
a:active{
  color: white;
}
