{% extends 'collection_app/base.html' %}
{% load staticfiles %}
{% block content %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html ng-app="videos">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="mask-icon" type="image/png" href="{% static 'lib/imagens/icone.png'%}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}" >
    <script src="{% static 'lib/angular/angular.js' %}"></script>
    
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/nprogress-master/nprogress.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}" >
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <link href="{% static 'lib/nprogress-master/support/style.css' %}" rel='stylesheet' />

 

  </head>
  <body style='display: none' ng-controller="videosctrl" >
    <div id="conteudo">
      <div id="ftopo"  class="jumbotron footer navbar-fixed-top" >
        <div class="container">
          <div class="col-md-8" >
            <div class="btn-group" role="group" >
              <a href="http://localhost:8000/">Home</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Rock">Rock</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Pop">Pop</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Forró">Forró</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Swingueira">Swingueira</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Sertanejo">Sertanejo</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Eletrohits">Eletrohits</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Romântica">Romântica</a>              
              <a href="http://localhost:8000/filtraVideo/?cat=Palestras">Palestras</a>
              <a href="http://localhost:8000/filtraVideo/?cat=Outros">Outros</a>
            </div>
          </div>
          <div class="col-md-4 text-left">
             <h4 class="text-right">Olá {{usuario_logado}} <a style="color:red" href="logout">Sair</a></h4>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <form method="POST"> {% csrf_token %}
          {{formPesquisa.as_p}}
         
        </form>
          
      </div>

      <div  class="col-md-9 text-left">
        

          <form  action="" method="POST" id="enviar">
            {% csrf_token %}
            <fieldset class=" form ">   
                  <div class="col-md-1 ">
                    <h5 class="text-right ">Link</h5>
                  </div>               
                 <div class="col-md-5 ">                     
                   {{form.url| add_class:"form-control "}}
                 </div> 
                  <div class="col-md-1">
                      <h5 class="text-right ">Categoria</h5>
                  </div>   
                 <div class="col-md-2">                    
                    {{form.categoria | add_class:"form-control "}} 
                 </div>
                  <input type="submit" value="Enviar"  class="btn btn-primary btn-sm">            
            </fieldset>
          </form>
           <button type="button" class="col-md-offset-9 btn btn-primary" id="btn_enviar">Novo link</button>
       </div>
      

      <div class="videos">
        <div  class="container">
            <h1 > {{mensagem}} </h1>
              {%  for video in videos  %}
            <div  class="col-md-3 col-sm-6 col-xs-6 text-left">
                <iframe  class="iframe"   {{video.id}}" width="280" height="200"  src="{{video.url}}"  frameborder="0" allowfullscreen> </iframe>
                <a  href="http://localhost:8000/excluirVideo/?pk={{video.id}} ">
                  <button  id="btn-excluir" type="button" class="btn btn-danger btn-sm " >Excluir</button></a>
            </div>
              {% endfor %}
        </div>
      </div>

 </div>





<script src="{% static 'lib/js/index.js' %}"></script>


  </body>
</html>
{% endblock %}
